# ==========================================
# Configuración de la API y Entorno
# ==========================================
# URL base de tu backend en Django (usa http://localhost:8000 en desarrollo local)
VITE_API_URL=http://localhost:8000

# Cambia a 'true' si quieres usar los datos de prueba del frontend sin conectar al backend
VITE_USE_MOCK=false