# ==========================================
# Configuración de Django
# ==========================================
SECRET_KEY=escribe_aqui_tu_secret_key_segura
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# ==========================================
# Configuración de Base de Datos (PostgreSQL)
# ==========================================
DB_NAME=fireflies_db
DB_USER=fireflies_user
DB_PASSWORD=escribe_aqui_el_password_de_bd
DB_HOST=db
DB_PORT=5432

# ==========================================
# Configuración de Correo SMTP
# ==========================================
EMAIL_HOST_USER=tu_correo@gmail.com
EMAIL_HOST_PASSWORD=tu_contraseña_de_aplicacion