asgiref==3.11.1
brotli==1.2.0
Django==6.0.1
django-cors-headers==4.9.0
django-crispy-forms==2.3
django-environ==0.11.2
djangorestframework==3.17.1
fonttools==4.61.1
mpi4py==4.1.1
packaging==26.2
djoser
pillow
psycopg2-binary==2.9.12
djangorestframework-simplejwt==5.3.1
python-decouple==3.8
setuptools==80.10.2
sqlparse==0.5.5
wheel==0.46.3
